<div class="splitsend"></div>
<div class="splitpaypal"></div>
<div class="splitvisa"></div>
<div class="splitcart"></div>
<div class="splitlogos-1"></div>
<div class="splitdbldot"></div>
<div class="splitmail"></div>
<div class="splitmail-white"></div>
<div class="splitsearch"></div>
<div class="splitphone"></div>
<div class="splitphone-white"></div>