	<!-- Popular Categories -->

	<div class="popular_categories">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="popular_categories_content">
						<div class="popular_categories_title">Popular Categories</div>
						<div class="popular_categories_slider_nav">
							<div class="popular_categories_prev popular_categories_nav"><i class="fas fa-angle-left ml-auto"></i></div>
							<div class="popular_categories_next popular_categories_nav"><i class="fas fa-angle-right ml-auto"></i></div>
						</div>
						<div class="popular_categories_link"><a href="#">full catalog</a></div>
					</div>
				</div>
				
				<!-- Popular Categories Slider -->

				<div class="col-lg-9">
					<div class="popular_categories_slider_container">
						<div class="owl-carousel owl-theme popular_categories_slider">

							<!-- Popular Categories Item -->
							
                           {% for collection in collections %}
                            
                                <div class="owl-item">
                                    <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                        {% if collection.image %}
                                            <div class="popular_category_image"><img class="lazy" data-src="{{ collection | img_url: 'small' }}" alt=""></div>
                                        {% else %}
							                <div class="popular_category_image"><img class="lazy" data-src="{{ collection.products.first | img_url: 'small' }}" alt=""></div>
							            {% endif %}
                                        <div class="popular_category_text">{{ collection.title }}</div>
                                    </div>
                                </div>
							
							{% endfor %}


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% schema %}
    {

      "presets": [
        {
          "name": "Category",
          "category": "CTA button"
        } 
      ]

    }

{% endschema %}