<style>

.container{
    padding:5%;
}
.lead{
    background:#fff;
    padding:4%;
}

</style>

<div class="page-wrap d-flex flex-row align-items-center" style="height:100vh; background-color: #E7ECF0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">{{ 'general.404.title' | t }}</span>
                <div class="mb-4 lead">{{ 'general.404.subtext_html' | t }}</div>
                <a href="/" class="btn btn-link">{{ 'general.404.link' | t }}</a>
            </div>
        </div>
    </div>
</div>

